<div style="display: flex;justify-content: center;align-items: center; height: 100%;">
  <div class="login">
    <img src="../../assets/logo_ceti.png" width="25%">
    <h1>Almacen de desarrollo de software</h1>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
        <mat-form-field class="inputs">
          <mat-label>Registro</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>
    
        <mat-form-field class="inputs">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasena">
        </mat-form-field>
        <div class="submit">
          <button  mat-stroked-button-button type="submit" color="primary">Iniciar sesión</button>
        </div>
    </form>
  </div>
</div>

